.MoviePhotoItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    margin-top: 15px;
}

.MoviePhotoItem>button {
    justify-self: start;
}

.MovieDetailsCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    margin-top: 15px;

}