.App {
  text-align: center;
}


.App-header {
  /* background-color: #222; */
  height: 50px;
  /* padding: 20px; */
  color: white;
  border-radius: 25px;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url(../../../public/images/background.jpeg);
  margin: 10px;
}